<div class="d-flex flex-column panel-w-300">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link" aria-current="page">
        <mat-icon class="mat-icon-margin">house</mat-icon> <span>Administración de alumnos</span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <mat-icon class="mat-icon-margin">person_add</mat-icon> <span>Agregar nuevo</span>
      </a>
    </li>
  </ul>
  <hr>
  <p class="text-center">2023</p>
</div>
