<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menuPrincipal" aria-label="Proyecto Final" *ngIf="userLoggued">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menuPrincipal="matMenu">
    <button mat-menu-item routerLink="cursos">
      <mat-icon>add_to_queue</mat-icon>
      <span>Administración de cursos</span>
    </button>
    <button mat-menu-item routerLink="alumnos">
      <mat-icon>perm_contact_calendar</mat-icon>
      <span>Administración de alumnos</span>
    </button>
    <button mat-menu-item routerLink="inscripciones">
      <mat-icon>touch_app</mat-icon>
      <span>Administración de inscripciones</span>
    </button>
    <button mat-menu-item (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
  <span>Sistema de información académica</span>
  <span class="example-spacer"></span>
  <span class="flexExpand"></span>
  <div class="user-login-info" *ngIf="userLoggued">
    Bienvenido/a: <span class="username-info">{{ userLoggued.username }}</span>
    <button title="Cerrar sesión" mat-icon-button class="example-icon favorite-icon" aria-label="Cerrar sesión" (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

