<div class="d-flex flex-column panel-w-300">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="inicio" class="nav-link" routerLinkActive="active"  aria-current="page">
        <mat-icon class="mat-icon-margin">home</mat-icon> <span>Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="alumnos" class="nav-link" routerLinkActive="active"  aria-current="page">
        <mat-icon class="mat-icon-margin">perm_contact_calendar</mat-icon> <span>Administración de alumnos</span>
      </a>
    </li>
    <li>
      <a routerLink="cursos" class="nav-link" routerLinkActive="active" aria-current="page">
        <mat-icon class="mat-icon-margin">add_to_queue</mat-icon> <span>Administración de cursos</span>
      </a>
    </li>
    <li>
      <a routerLink="inscripciones" class="nav-link" routerLinkActive="active" aria-current="page">
        <mat-icon class="mat-icon-margin">touch_app</mat-icon> <span>Administración de inscripciones</span>
      </a>
    </li>
  </ul>
  <hr>
  <p class="text-center">{{ currentYear }}</p>
</div>
