<div class="row">
  <div class="col-md-4">
    <app-navbar></app-navbar>
  </div>
<div class="col-md-8">
  <h1 appDirectivaPrincipal>Listar Cursos</h1>
<div class="example-flex-container">
  <button mat-raised-button color="accent" (click)="agregarCurso()">Agregar Curso</button>
</div>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef appDirectivaPrincipal>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>
  <ng-container matColumnDef="profesor">
    <th mat-header-cell *matHeaderCellDef appDirectivaPrincipal>Profesor</th>
    <td mat-cell *matCellDef="let element">{{ element.profesor }}</td>
  </ng-container>
  <ng-container matColumnDef="duracionHoras">
    <th mat-header-cell *matHeaderCellDef appDirectivaPrincipal>Duración de horas</th>
    <td mat-cell *matCellDef="let element">{{ element.duracionHoras }}</td>
  </ng-container>
  <ng-container matColumnDef="fechaInicio">
    <th mat-header-cell *matHeaderCellDef appDirectivaPrincipal>Inicio</th>
    <td mat-cell *matCellDef="let element">{{ element.fechaInicio }}</td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef appDirectivaPrincipal>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="inf" (click)="verDeatalleCurso(element)" title="Ver detalles">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="editarCurso(element)" title="Editar">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="eliminarCurso(element)" title="Eliminar">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>
</div>
</div>